body {
  position: relative;
  color: white;
  height: 100vh;
  background: rgb(27, 27, 27);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 30px;
}